<template>
    <div class="roleMenu">
        <el-row>
            <el-col :span="9">
                <el-card>
                    <div slot="header">
                        <span>角色列表</span>
                    </div>
                    <div>
                        <common-table
                                :tableData="roleData"
                                :tableLabel="roleLabel"
                                :config="roleConfig"
                                :buttonData="roleButtonData"
                                @changePage="getList()"
                                @viewMenu="viewMenu">
                        </common-table>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="15">
                <el-card>
                    <div slot="header">
                        <span>菜单列表</span>
                    </div>
                    <el-tree
                            :data="permissionList"
                            show-checkbox
                            node-key="id"
                            :default-expanded-keys="[2, 3]"
                            :default-checked-keys="[5]"
                            :props="defaultProps">
                    </el-tree>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import CommonTable from "../../components/CommonTable";
    import request from "../../http/request";
    export default {
        name: "roleMenu",
        data() {
            return {
                isShow: false,
                roleData: [],
                roleLabel: [
                    {
                        prop: 'id',
                        label: '角色id',
                        width: '80',
                        show: this.isShow
                    },
                    {
                        prop: 'rolename',
                        label: '角色名称',
                        width: '200',
                        show: !this.isShow
                    },
                    {
                        prop: 'description',
                        label: '描述',
                        show: !this.isShow
                    }
                ],
                roleConfig: {
                    page: 1,
                    total: 10,
                    limit: 10,
                    loading: false
                },
                roleButtonData: [
                    {
                        name: '对应菜单',
                        type: '',
                        size: 'mini',
                        method: 'viewMenu'
                    }
                ],
                //资源列表
                permissionList: [],
                defaultProps: {
                    children: 'children',
                    label: 'description'
                }
            }
        },
        methods: {
            getList(name = '') {
                let keyword = name ? 'ROLE_' + name : '';
                this.roleConfig.loading = true
                request.role.getAllRole(this.roleConfig.page, this.roleConfig.limit, keyword).then((res) => {
                    this.roleData = res.data.data.data;
                    this.roleConfig.total = res.data.data.total;
                    this.roleConfig.loading = false
                });
            },
            getPermissionList(roleId) {
                request.role.getPermissionList(roleId).then((res) => {
                    console.log(res);
                    switch (res.data.code) {
                        case 0:
                            this.permissionList = res.data.data;
                            break;
                        case !0:
                            this.$message({type: 'error', message: res.data.msg,showClose:true, center: true});
                            break;
                    }

                });
            },
            viewMenu(row) {
                console.log(row);
                this.getPermissionList(row.id);
            }
        },
        mounted() {
        },
        created() {
            this.getList();
        },
        components:{
            CommonTable
        }
    }
</script>

<style scoped>

</style>
