<template>
    <div id="main">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" size="small">
            <el-row type="flex" class="row-bg" justify="center">
                <img :src="ruleForm.coverImg" alt=""
                     style="width: 30%; height: 20%;border:1px solid #DCDFE6;">
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
                <el-form-item label="文章标题" prop="title">
                    <el-input v-model="ruleForm.title"></el-input>
                </el-form-item>
                <el-form-item label="文章封面图" prop="coverImg">
                    <el-upload
                            class="upload-demo"
                            :action="uploadUrl"
                            :on-success="handleAvatarSuccess"
                            :on-remove="handleRemove"
                            :before-upload="beforeAvatarUpload"
                            :show-file-list="false"
                            :multiple="false"
                            :on-exceed="handleExceed"
                            :file-list="fileList"
                            :data="imgName"
                            :headers="{Authorization:this.token}">
                        <el-tooltip class="item" effect="dark" content="只能上传jpg/png文件，且不超过5Mb" placement="top">
                            <el-button size="small" type="primary">点击上传</el-button>
                        </el-tooltip>
                    </el-upload>
                </el-form-item>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
                <el-form-item label="文章分类" prop="sorts">
                    <!--                <el-input v-model="ruleForm.sorts"></el-input>-->
<!--                    <CommonTags ref="sortsTags" v-model="ruleForm.sorts"></CommonTags>-->
                    <el-select
                            v-model="sortsValue"
                            :clearable="true"
                            multiple
                            filterable
                            allow-create
                            size="small"
                            @change="selectSortsTags"
                            default-first-option
                            placeholder="请选择文章分类">
                        <el-option
                                v-for="item in sortsOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="文章标签" prop="lables">
                    <!--                <el-input v-model="ruleForm.lables"></el-input>-->
<!--                    <CommonTags ref="lablesTags" v-model="ruleForm.lables"></CommonTags>-->
                    <el-select
                            v-model="lablesValue"
                            :clearable="true"
                            multiple
                            filterable
                            allow-create
                            size="small"
                            @change="selectLablesTags"
                            default-first-option
                            placeholder="请选择文章标签">
                        <el-option
                                v-for="item in lablesOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-row>
            <el-row type="flex" class="row-bg" justify="center">
                <mavon-editor v-model="articleValue"/>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import request from "../../http/request";
    import CommonTags from "../../components/CommonTags";
    import api from "../../http/api";
    import Auth from "../../assets/js/Auth";
    import http from "../../http/http";
    import axios from 'axios';

    export default {
        name: "ArticleManagement",
        data() {
            return {
                /*
                *   文章分类
                * */
                sortsOptions: [{
                    value: 'java',
                    label: 'java'
                }, {
                    value: 'springboot',
                    label: 'springboot'
                }, {
                    value: 'JavaScript',
                    label: 'JavaScript'
                }],
                sortsValue: [],
                /*
                *   文章标签
                * */
                lablesOptions: [{
                    value: 'File',
                    label: 'File'
                }, {
                    value: 'CSS',
                    label: 'CSS'
                }, {
                    value: 'JavaScript',
                    label: 'JavaScript'
                }],
                lablesValue: [],
                /*
                *  token
                * */
                token: Auth.getToken(),
                /*
                * mavon-editor markdown编辑器
                * */
                articleValue: '',
                defaultData: "preview",
                /*
                *   上传照片
                * */
                uploadUrl: '',
                fileList: [],
                imgName: {
                    imgName: ''
                },
                /*
                *   表单
                * */
                ruleForm: {
                    title: '',
                    coverImg: '',
                    lables: '',
                    sorts: ''
                },
                rules: {
                    title: [
                        {required: true, message: '请输入文章标题', trigger: 'blur'},
                        {min: 5, max: 50, message: '长度在 5 到 50 个字符', trigger: 'blur'}
                    ],
                    /*sorts: [
                        {required: true, message: '请选择文章分类', trigger: 'blur' }
                    ],
                    lables: [
                        {required: true, message: '请选择文章标签', trigger: 'blur' }
                    ]*/
                }
            };
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handleExceed(files, fileList) {
                // this.$message.warning(this.i18n.tip3);
                console.log(files);
            },
            handleAvatarSuccess(res, file) {
                console.log(res);
                console.log(file);
                if (res.code === 0) {
                    this.ruleForm.coverImg = res.data;
                    this.imgName.imgName = res.data;
                }
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 5;
                if (!isJPG && !isPNG) {
                    this.$message.error('上传头像图片只能是 JPG、JPEG、PNG 格式!');
                } else if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 5MB!');
                }
                return isJPG || isPNG && isLt2M;
            },
            uploadCoverImage() {
                request.article.uploadCoverImage().then((res) => {
                    console.log(res);
                });
            },
            selectSortsTags() {
                console.log(this.value);
            },
            selectLablesTags() {
                console.log(this.value);
            }
        },
        mounted() {
            this.uploadUrl = api.article.uploadCoverImage;
        },
        created() {
        },
        components: {
            CommonTags
        }
    }
</script>

<style scoped lang="scss">
    .el-row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .el-col {
        border-radius: 4px;
    }

    .row-bg {
        padding: 5px 0;
        /*background-color: #f9fafc;*/
    }

    .main {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
</style>
