<template>
    <div>
        <el-form :model="article" label-width="80px" :rules="rules" ref="articleForm">
            <el-form-item label="博文标题" prop="title">
                <el-col :span="12">
                    <el-input placeholder="博文标题" v-model="article.title"  clearable></el-input>
                </el-col>
            </el-form-item>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="博文分类">
                        <el-cascader
                                style="width: 100%;"
                                clearable
                                change-on-select
                                :options="categoryOptions"
                                v-model="categoryOptionsSelect"
                                :props="categoryListTreeProps">
                        </el-cascader>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="博文标签">
                        <el-select
                                style="width: 100%"
                                v-model="tagListSelect"
                                multiple
                                allow-create
                                filterable
                                default-first-option
                                placeholder="请选择文章标签" @change="filterTagList">
                            <el-option
                                    v-for="item in tagList"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="博文作者">
                        <el-input placeholder="博文作者" v-model="article.author" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="是否推荐">
                        <el-radio-group v-model="article.recommend">
                            <el-radio :label="true">是</el-radio>
                            <el-radio :label="false">否</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
           <!-- <el-form-item label="展示类型">
                <el-radio-group v-model="article.coverType">
                    <el-radio v-for="type in coverTypeList" :key="type.parKey" :label="type.parKey" >{{type.parValue}}</el-radio>
                </el-radio-group>
            </el-form-item>-->
            <el-form-item label="上传封面">
                <el-col :span="6">
                    <el-upload
                            drag
                            :action="url"
                            :before-upload="beforeUploadHandle"
                            :on-remove="handleRemove"
                            :on-success="successHandle"
                            list-type="picture"
                            :file-list="file"
                            :show-file-list="false"
                            :multiple="false"
                            :data="imgName"
                            :headers="{Authorization:this.token}">
                        <i class="el-icon-upload"></i>
                        <el-tooltip class="item" effect="dark" content="只能上传jpg/png文件，且不超过5Mb" placement="top">
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-tooltip>
                    </el-upload>
                </el-col>
                <el-col :span="6">
                    <img :src="article.coverImg" alt="" style="width: 70%; height: 40%;border:1px solid #DCDFE6;">
                </el-col>
            </el-form-item>
            <el-form-item label="博文描述">
                <el-col :span="12">
                    <el-input type="textarea" v-model="article.description" placeholder="博文描述" clearable></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="博文内容">
                <mavon-editor ref=md v-model="article.content" @imgAdd="imgAdd" @change="mavonChangeHandle"></mavon-editor>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="saveArticle()">保存</el-button>
                <el-button >重置</el-button>
            </el-form-item>
        </el-form>

    </div>
</template>

<script>
    import api from "../../http/api";
    import Auth from "../../assets/js/Auth";
    import request from "../../http/request";
    export default {
        name: "ArticleManagement",
        data() {
            return {
                article: {
                    recommend: false,
                    tagList: [],
                    type: 0,
                    coverType: 2, // 默认无图片
                    coverImg: ''
                },
                rules: {
                    title: {required: true, message: '请输入博文标题', trigger: 'change'}
                },
                categoryOptions: [],
                categoryOptionsSelect: [],
                categoryListTreeProps: {
                    label: 'name',
                    children: 'children',
                    value: 'id'
                },
                tagListSelect: [],
                tagList: [],

                // coverTypeList: this.getSysParamArr('ARTICLE_COVER_TYPE'),
                /*
                * 上传封面照片
                * */
                url: '',
                file: [],
                imgName: {
                    imgName: ''
                },
                tagListNew: [],
                /*
               *  token
               * */
                token: Auth.getToken(),
            }
        },
        methods: {
            // 过滤标签
            filterTagList(selectValueList) {
                let tagList = []
                selectValueList.forEach(value => {
                    let isInput = true
                    for (let i = 0; i < this.tagList.length; i++) {
                        let tag = this.tagList[i]
                        if (tag.id === value || value.id) {
                            isInput = false
                            tagList.push({id: tag.id, name: tag.name, type: 0})
                        }
                    }
                    if (isInput) {
                        tagList.push({name: value, type: 0})
                    }
                })
                this.article.tagList = tagList
            },
            // 上传之前
            /*beforeUploadHandle (file) {
                if (file.type !== 'image/jpg' && file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                    this.$message.error('只支持jpg、png、gif格式的图片！')
                    return false
                }
            },*/
            beforeUploadHandle(file) {
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 5;
                if (!isJPG && !isPNG) {
                    this.$message.error('上传头像图片只能是 JPG、JPEG、PNG 格式!');
                } else if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 5MB!');
                }
                return isJPG || isPNG && isLt2M;
            },
            // 上传成功
            successHandle(res, file) {
                console.log(res);
                console.log(file);
                if (res.code === 0) {
                    this.article.coverImg = res.data;
                    this.imgName.imgName = res.data;
                }
            },
            // 移除上传文件
            handleRemove (file, fileList) {
                this.file = []
                this.article.coverImg = ''
            },
            // 文章内容图片上传
            imgAdd(pos, $file) {
                // 第一步.将图片上传到服务器.
                let formData = new FormData()
                formData.append('file', $file)
                request.article.uploadCoverImage(formData).then((res) => {
                    this.$refs.md.$img2Url(pos, res.data)
                });
               /* this.$http({
                    url: this.url,
                    method: 'post',
                    data: formData,
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(({data}) => {
                    this.$refs.md.$img2Url(pos, data.resource.url)
                })*/
            },
            mavonChangeHandle(context, render) {
                this.article.contentFormat = marked(context, {breaks: true})
            },
            // 保存文章
            saveArticle() {
                this.$refs['articleForm'].validate((valid) => {
                    if (valid) {
                        // 转化categoryId
                        this.article.categoryId = this.categoryOptionsSelect.join(',')
                        this.$http({
                            url: this.$http.adornUrl(`/admin/article/${!this.article.id ? 'save' : 'update'}`),
                            method: !this.article.id ? 'post' : 'put',
                            data: this.$http.adornData(this.article)
                        }).then(({data}) => {
                            if (data && data.code === 200) {
                                this.$message.success('保存博文成功')
                                // 关闭当前标签
                                this.$emit('closeCurrentTabs')
                                // 跳转到list
                                this.$router.push('/article-article')
                            } else {
                                this.$message.error(data.msg)
                            }
                        })
                    } else {
                        return false
                    }
                })
            },
        },
        mounted() {
            this.url = api.article.uploadCoverImage;
        },
       /* getSysParamArr(type) {
            let sysParamList = JSON.parse(localStorage.getItem('sysParamList'))
            let resultArr = []
            for (let i = 0; i < sysParamList.length; i++) {
                let sysParam = sysParamList[i]
                if (sysParam.type === type) {
                    resultArr.push(sysParam)
                }
            }
            return resultArr
        }*/
    }
</script>

<style scoped>

</style>
