<template>
    <el-container>
        <!-- 顶栏 -->
        <el-header>
            <el-row>
                <el-col :span="12" style="display: flex;">
                    <span style="margin-left: 5px; font-size: 20px;">{{sysName}}</span>
                </el-col>
                <el-col :span="12" style="display: flex;justify-content:flex-end;padding-top: 8px">
                    <el-dropdown>
                        <span style="margin-right: 20px; font-size: 14px; margin-top: -8px;color: #FFF">您好，{{username}} (您的身份是：{{auth}})</span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item><a @click='detail()'>账号信息</a></el-dropdown-item>
                            <el-dropdown-item><a  @click='logout()'>退出系统</a></el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
            </el-row>
        </el-header>

        <el-container style="height: 850px; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu router :default-openeds="['0', '1']">
                    <el-submenu v-for="(item,index) in $router.options.routes" :index="index+''" v-if="item.show">
                        <template slot="title">{{item.name}}</template>
                        <el-menu-item v-for="(item2,index2) in item.children" :index="item2.path"
                                      :class="$route.path==item2.path?'is-active':''">{{item2.name}}
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
    import App from '../../assets/js/App';
    import Auth from '../../assets/js/Auth';
    import request from "../../http/request";
    export default {
        name: "Index",
        data() {
            return {
                sysName: App.getSysName(),
                username: Auth.getUserName(),
                auth: Auth.getAuthValueString()
            };
        },
        methods: {
            logout() {
                request.logout().then((data) => {
                    if (data.data.code === 0) {
                        Auth.deleteAuth();
                        // this.refresh();
                        // this.local.refresh();
                        this.$router.push('/');
                    }else {
                        this.$alert(data.data.msg, "提示信息");
                    }
                }).catch((err)=>{
                    this.$alert(err,"错误信息");
                });
            },
            detail() {
                request.user.admin({"username": "qlh", "password": "123"}).then((data) => {
                    console.log(data);
                });
            },
            //显示菜单树
            menuList: Auth.getMenus()
        }
    }
</script>

<style scoped>
    /*头部*/
    .el-header {
        /**/
        background-color: #23262e;
        /*background-color: #028fc5;*/
        color: #FFF;
        height: 60px;
        line-height: 60px;
    }
    /*左侧-首页菜单按钮*/
    .home {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        cursor: pointer;
        background-color: #393d49;
        line-height: 46px;
        height: 46px;
        font-size: 18px;
        /*color: #1E9FFF;*/
    }
    /*左侧-首页菜单按钮上的span*/
    .home span {
        margin-left: 5px;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
    }
</style>
