<template>
    <div class="manage">
        <div class="manage-header">
            <common-form inline :formLabel="formLabel" :form="searchFrom">
                <el-button type="primary" @click="getList(searchFrom.keyword)">搜索</el-button>
            </common-form>
        </div>
        <common-table :tableData="tableData" :tableLabel="tableLabel" :config="config" :buttonData="buttonData" @changePage="getList()" @edit="editUser" @del="delUser"></common-table>
    </div>
</template>

<script>
    import CommonTable from "../../components/CommonTable";
    import CommonForm from "../../components/CommonForm";
    import request from "../../http/request";
    export default {
        name: "UserManage",
        data() {
            return {
                show: false,
                tableLabel: [
                    {
                        prop: 'id',
                        label: '用户id',
                        width: '80',
                        show: this.show
                    }, {
                        prop: 'nickname',
                        label: '用户名',
                        show: !this.show
                    }, {
                        prop: 'email',
                        label: '用户邮箱',
                        width: '200',
                        show: !this.show
                    }, {
                        prop: 'createTime',
                        label: '创建时间',
                        width: '200',
                        show: !this.show
                    }, {
                        prop: 'avatar',
                        label: '用户头像',
                        width: '200',
                        show: !this.show
                    }, {
                        prop: 'birthday',
                        label: '用户生日',
                        width: '200',
                        show: !this.show
                    }, {
                        prop: 'age',
                        label: '用户年龄',
                        width: '200',
                        show: !this.show
                    }, {
                        prop: 'phone',
                        label: '用户电话',
                        width: '200',
                        show: !this.show
                    }
                ],
                tableData: [],
                config: {
                    page: 1,
                    total: 0,
                    limit: 10,
                    loading: false
                },
                buttonData: [
                    {
                        icon: 'edit',
                        type: 'primary',
                        size: 'mini',
                        method: 'edit'
                    },
                    {
                        icon: 'delete',
                        type: 'danger',
                        size: 'mini',
                        method: 'del'
                    }
                ],
                searchFrom: {
                    keyword: ''
                },
                formLabel: [
                    {
                        model: 'keyword',
                        label: ''
                    }
                ]
            };
        },
        methods: {
            getList(name = '') {
                // this.config.loading = true
                request.user.getAllUser(this.config.page, this.config.limit, name).then((res) => {
                    if (res.data.code === 0) {
                        this.tableData = res.data.data.records;
                        this.config.total = res.data.data.total;
                        this.config.loading = false
                    }else {
                        this.$message.error(res.data.msg);
                    }
                });
            },
            editUser(row) {
                this.$message({type:'info', message: '此功能开发中'});
            },
            delUser(row){
                request.user.delUser(row.id).then((res) => {
                    if(res.data.code===0) {
                        this.$message({type:'success', message:'删除成功'});
                    }else {
                        this.$message({type:'error', message:'删除失败'});
                    }
                    this.getList();
                });
            }
        },
        mounted() {
        },
        created() {
            this.getList();
        },
        components:{
            CommonTable,
            CommonForm
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/common";
</style>
