body {
    background-image: url("../../assets/svg/website.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* 解决左边一直有空隙的问题 */
    margin: 0;
    padding: 0;
    /*鼠标光标样式*/
    cursor: auto;
    font-size: 14px;
    color: #606266;
}
/*
html {
    height: 100%;
    overflow-x: hidden;
}

!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #F5F5F5;
}

!*定义滚动条轨道 内阴影+圆角*!
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

!*定义滑块 内阴影+圆角*!
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}*/
