<template>
    <div>
        <el-form :inline="true" :model="dataForm">
            <el-form-item>
                <el-button v-if="isAuth('sys:menu:save')" type="primary" @click="addOrUpdateHandle()">新增</el-button>
            </el-form-item>
        </el-form>
        <el-table
                :data="dataList"
                border
                v-loading="dataListLoading"
                style="width: 100%;">
            <el-table-column
                    prop="id"
                    header-align="center"
                    align="center"
                    width="80"
                    label="ID">
            </el-table-column>
            <table-tree-column
                    prop="description"
                    header-align="center"
                    treeKey="id"
                    width="150"
                    label="名称">
            </table-tree-column>
            <el-table-column
                    prop="parentName"
                    header-align="center"
                    align="center"
                    width="120"
                    label="上级菜单">
            </el-table-column>
            <el-table-column
                    prop="icon"
                    header-align="center"
                    align="center"
                    width="200"
                    label="图标">
            </el-table-column>
            <el-table-column
                    prop="type"
                    header-align="center"
                    align="center"
                    width="150"
                    label="类型">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.type === 0" size="small">目录</el-tag>
                    <el-tag v-else-if="scope.row.type === 1" size="small" type="success">菜单</el-tag>
                    <el-tag v-else-if="scope.row.type === 2" size="small" type="info">按钮</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="frontMenuName"
                    header-align="center"
                    align="center"
                    width="150"
                    label="菜单名">
            </el-table-column>
            <el-table-column
                    prop="frontMenuUrl"
                    header-align="center"
                    align="center"
                    width="200"
                    label="菜单路径">
            </el-table-column>
            <el-table-column
                    prop="frontMenuSort"
                    header-align="center"
                    align="center"
                    width="150"
                    label="排序号">
            </el-table-column>
            <el-table-column
                    prop="path"
                    header-align="center"
                    align="center"
                    width="150"
                    :show-overflow-tooltip="true"
                    label="菜单URL">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    header-align="center"
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-button v-if="isAuth()" type="primary" size="mini" @click="addOrUpdateHandle(scope.row.id)" icon="el-icon-edit"></el-button>
                    <el-button v-if="isAuth()" type="danger" size="mini" @click="deleteHandle(scope.row)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 弹窗, 新增 / 修改 -->
        <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
</template>

<script>
    import request from "../../http/request";
    import TableTreeColumn from "../../components/table-tree-column";
    import Auth from "../../assets/js/Auth";
    import AddOrUpdate from './menu-add-or-update'
    export default {
        name: "Menu",
        data () {
            return {
                dataForm: {},
                dataList: [],
                dataListLoading: false,
                addOrUpdateVisible: false,
            }
        },
        components:{
            TableTreeColumn,
            AddOrUpdate
        },
        created() {
            this.getDataList()
        },
        methods:{
            getDataList() {
                this.dataListLoading = true
                request.menu.getMenuList().then((res) => {
                    console.log(res.data.data, '菜单列表');
                    this.dataList = res.data.data;
                    this.dataListLoading = false
                });
            },
            isAuth() {
                return Auth.getAuthValueArr()[0] === "ADMIN";
            },
            // 新增 / 修改
            addOrUpdateHandle (id) {
                this.addOrUpdateVisible = true
                this.$nextTick(() => {
                    this.$refs.addOrUpdate.init(id)
                })
            },
            deleteHandle(row) {
                this.$message({
                    type: "info",
                    center: true,
                    showClose: true,
                    message: "功能开发中"
                });
                console.log(row)
                request.menu.deleteMenu(row).then((res) => {
                    console.log(res);
                });
            }
        }
    }
</script>

<style scoped>
</style>
