<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-form-item label="类型" prop="type">
        <el-radio-group v-model="dataForm.type">
          <el-radio v-for="(type, index) in dataForm.typeList" :label="index" :key="index">{{ type }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item :label="dataForm.typeList[dataForm.type] + '名称'" prop="description">
        <el-input v-model="dataForm.description" :placeholder="dataForm.typeList[dataForm.type] + '名称'"></el-input>
      </el-form-item>
      <el-form-item label="上级菜单" prop="parentName">
        <el-popover
          ref="menuListPopover"
          placement="bottom-start"
          trigger="click">
          <el-tree
            :data="menuList"
            :props="menuListTreeProps"
            node-key="id"
            ref="menuListTree"
            @current-change="menuListTreeCurrentChangeHandle"
            :default-expand-all="true"
            :highlight-current="true"
            :expand-on-click-node="false">
          </el-tree>
          <el-input v-model="dataForm.parentName" slot="reference" :readonly="true" placeholder="点击选择上级菜单" class="menu-list__input"></el-input>
        </el-popover>
      </el-form-item>
      <el-form-item v-if="dataForm.type === 1" label="菜单名称" prop="frontMenuName">
        <el-input v-model="dataForm.frontMenuName" placeholder="routes下面对应的name: 如：name: 'login'" ></el-input>
      </el-form-item>
      <el-form-item v-if="dataForm.type === 1" label="菜单路由" prop="frontMenuUrl">
        <el-input v-model="dataForm.frontMenuUrl" placeholder="views文件夹下面新建菜单: 文件夹/文件。如：login/login" ></el-input>
      </el-form-item>
      <el-form-item v-if="dataForm.type === 1" label="菜单路径" prop="path">
        <el-input v-model="dataForm.path" placeholder="routes下面对应的path: 如：path: '/login'" ></el-input>
      </el-form-item>
      <el-form-item v-if="dataForm.type !== 2" label="排序号" prop="frontMenuSort">
        <el-input-number v-model="dataForm.frontMenuSort" controls-position="right" :min="0" label="排序号"></el-input-number>
      </el-form-item>
      <el-form-item v-if="dataForm.type !== 2" label="菜单图标" prop="icon">
        <el-row>
          <el-col :span="20">
            <el-input v-model="dataForm.icon" placeholder="菜单图标名称" class="icon-list__input"></el-input>
          </el-col>
          <el-col :span="2" class="icon-list__tips">
            <el-button @click.native="selectMenuIcon">选择图标</el-button>
          </el-col>
        </el-row>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
    <!--图标窗体-->
    <menuIcon ref="MenuIcon"></menuIcon>
  </el-dialog>
</template>

<script>
import request from "../../http/request";
import menuIcon from "./menuIcon";
export default {
  data () {
    let validateUrl = (rule, value, callback) => {
      if (this.dataForm.type === 1 && !/\S/.test(value)) {
        callback(new Error('菜单URL不能为空'))
      } else {
        callback()
      }
    }
    return {
      visible: false,
      dataForm: {
        id: 0,
        type: 1,
        typeList: ['目录', '菜单', '按钮'],
        description: '',
        pid: 0,
        parentName: 'root',
        frontMenuName: '',
        frontMenuUrl: '',
        path: '',
        frontMenuSort: 0,
        icon: '',
      },
      dataRule: {
        description: [{required: true, message: '菜单名称不能为空', trigger: 'blur'}],
        parentName: [{ required: true, message: '上级菜单不能为空', trigger: 'change' }],
        /*frontMenuUrl: [{ validator: validateUrl, trigger: 'blur' }],*/
        frontMenuName: [{required: true, message: '菜单名称不能为空', trigger: 'blur'}],
        frontMenuUrl: [{required: true, message: '菜单路由不能为空', trigger: 'blur'}],
        path: [{required: true, message: '菜单路由不能为空', trigger: 'blur'}]
      },
      menuList: [
        {
          children: [],
          description: "root",
          frontMenuName: "",
          frontMenuSort: 0,
          frontMenuUrl: "",
          icon: "",
          id: 0,
          list: "",
          open: "",
          parentName: "",
          path: "",
          pid: -1,
          type: 0
        }
      ],
      menuListTreeProps: {
        label: 'description',
        children: 'children'
      }
    }
  },
  created () {
  },
  components: {menuIcon},
  methods: {
    selectMenuIcon() {
      this.$refs.MenuIcon.openIconWindow();
    },
    init(id) {
      //赋值传过来的id到本from表单的id   以便下面根据id查询该菜单或者目录
      this.dataForm.id = id || 0;
      request.menu.getMenuList().then((res) => {
        this.menuList[0].children = res.data.data;
        this.dataListLoading = false
        console.log(this.menuList, '选择菜单节点');
      }).then(() => {
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        });
      }).then(() => {
        if (!this.dataForm.id) {
          // 新增
          this.menuListTreeSetCurrentNode()
        } else {
          // 修改
          request.menu.getMenuById(this.dataForm.id).then((res) => {
            console.log(res, '修改');
            this.dataForm.id = res.data.data.id
            this.dataForm.type = res.data.data.type
            this.dataForm.description = res.data.data.description
            if(this.dataForm.type){
              this.dataForm.pid = res.data.data.pid
            }
            this.dataForm.frontMenuName = res.data.data.frontMenuName
            this.dataForm.frontMenuUrl = res.data.data.frontMenuUrl
            this.dataForm.path = res.data.data.path
            this.dataForm.frontMenuSort = res.data.data.frontMenuSort
            this.dataForm.icon = 'el-icon-' + res.data.data.icon;
            this.dataForm.parentName = res.data.data.parentName;
            console.log(this.dataForm, 'dataForm');
            this.menuListTreeSetCurrentNode()
          });
        }
      });
    },
    // 菜单树选中
    menuListTreeCurrentChangeHandle (data, node) {
      console.log(data,'菜单树选中');
      this.dataForm.pid = data.id
      this.dataForm.parentName = data.description
    },
    // 菜单树设置当前选中节点
    menuListTreeSetCurrentNode () {
      console.log(this.dataForm, 'this.dataForm')
      this.$refs.menuListTree.setCurrentKey(this.dataForm.pid)
      console.log(this.$refs.menuListTree.getCurrentNode(), 'this.$refs.menuListTree.getCurrentNode()')
      this.dataForm.parentName = this.$refs.menuListTree.getCurrentNode() == null ? this.menuList[0].description : this.$refs.menuListTree.getCurrentNode().description;
      // this.dataForm.parentName = (this.$refs.menuListTree.getCurrentNode() || {})['description'];
    },
    // 表单提交
    dataFormSubmit () {
      this.$refs['dataForm'].validate((valid) => {
        console.log(this.dataForm);
        if (valid) {
          request.menu.saveOrUpdateFrontMenu(this.dataForm).then((res) => {
            console.log(res);
            if (res.data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                showClose: true,
                center: true
              });
              this.visible = false;
            }else {
              this.$message({
                showClose: true,
                message: '操作失败',
                type: 'error',
                center: true
              });
            }
          });
        }
      })
    }
  }
}
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
       > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      max-width: 370px;
    }
    &__icon-list {
      max-height: 180px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
