<template>
    <div class="manage">
        <el-dialog :title="operateType === 'add' ? '新增角色' : '更新角色'" :visible.sync="isShow">
            <common-form :formLabel="operateFormLabel" :form="operateForm" ref="form"></common-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="isShow = false">取 消</el-button>
                <el-button type="primary" @click="confirm">确 定</el-button>
            </div>
        </el-dialog>
        <div class="manage-header">
            <el-button type="primary" @click="addUser">+ 新增</el-button>
            <common-form inline :formLabel="formLabel" :form="searchFrom">
                <el-button type="primary" @click="getList(searchFrom.keyword)">搜索</el-button>
            </common-form>
        </div>
        <common-table :tableData="tableData" :tableLabel="tableLabel" :config="config" :buttonData="buttonData" @changePage="getList()" @edit="editRole" @del="delRole"></common-table>
    </div>
</template>

<script>
    import CommonForm from "../../components/CommonForm";
    import CommonTable from "../../components/CommonTable";
    import request from "../../http/request";
    export default {
        name: "RoleManage",
        components: {
            CommonForm,
            CommonTable
        },
        data() {
            return {
                operateType: 'add',
                isShow: false,
                tableData: [],
                tableLabel: [
                    {
                        prop: 'id',
                        label: '角色id',
                        width:'80',
                        show: this.isShow
                    },
                    {
                        prop: 'rolename',
                        label: '角色名称',
                        width:'200',
                        show: !this.isShow
                    },
                    {
                        prop: 'description',
                        label: '描述',
                        show: !this.isShow
                    }, {
                        prop: 'status',
                        label: '是否禁用',
                        show: !this.show
                    }
                ],
                config: {
                    page: 1,
                    total: 0,
                    limit: 10,
                    loading: false
                },
                buttonData: [
                    {
                        icon: 'edit',
                        type: 'primary',
                        size: 'mini',
                        method: 'edit'
                    },
                    {
                        icon: 'delete',
                        type: 'danger',
                        size: 'mini',
                        method: 'del'
                    }
                ],
                operateForm:{
                    rolename: '',
                    description:''
                },
                operateFormLabel: [
                    {
                        model:'rolename',
                        label:'角色名称'
                    },
                    {
                        model: 'description',
                        label: '角色描述'
                    }
                ],
                searchFrom: {
                    keyword: ''
                },
                formLabel: [
                    {
                        model: 'keyword',
                        label: ''
                    }
                ]
            }
        },
        methods: {
            getList(name = ''){
                let keyword = name ? 'ROLE_' + name : '';
                this.config.loading = true
                request.role.getAllRole(this.config.page, this.config.limit, keyword).then((res) => {
                    this.tableData = res.data.data.data;
                    this.config.total = res.data.data.total;
                    this.config.loading = false
                });
            },
            editRole(row) {
                this.operateType = 'edit'
                this.isShow = true
                this.operateForm = row
            },
            delRole(row) {
                console.log(row);
                this.$confirm('此操作将会删除本角色,是否继续?', '提示信息', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    request.role.delRole(row.id).then((res) => {
                        console.log(res);
                        if (res.data.code === 0 && res.data.data === true) {
                            this.$message({
                                type: 'success',
                                message: '删除成功'
                            });
                        } else {
                            this.$message({
                                type: 'error',
                                message: '删除失败'
                            });
                        }
                        this.getList();
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                });
            },
            addUser() {
                this.operateForm = {}
                this.operateType = 'add'
                this.isShow = true
            },
            confirm() {
                console.log(this.operateForm);
                request.role.addRole(this.operateForm).then((res) => {
                    if (res.data.code === 0) {
                        this.$alert(res.data.msg, '提示信息').then((T1, T2) => {
                            this.isShow = false
                            this.getList();
                        });

                    }else {
                        this.$alert(res.data.msg, '提示信息').then(() => {
                            // this.isShow = false
                        });
                    }
                });
            },
        },
        mounted() {
        },
        created() {
            this.getList();
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/common";
</style>
