<template>
    <el-container style="height: 100%">
        <el-aside width="auto"><common-aside></common-aside></el-aside>
        <el-container>
            <el-header><common-header></common-header></el-header>
            <common-tab></common-tab>
            <el-main>
                <router-view />
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
    import CommonHeader from '../components/CommonHeader'
    import CommonTab from '../components/CommonTab'
    import CommonAside from "../components/CommonAside";
    export default {
        name: "Main",
        components: {CommonAside, CommonHeader,CommonTab},
    }
</script>
<!--
<style scoped>
    .el-menu {
        height: 100%;
        border: none;
    }

    .el-menu h3 {
        color: #ffffff;
        text-align: center;
        line-height: 48px;
    }

    .el-menu-vertical-demo:not(.el-menu&#45;&#45;collapse) {
        width: 200px;
        min-height: 400px;
    }
</style>-->
<style lang="scss" scoped>
    .el-header {
        background-color: #333;
    }
    .el-main {
        padding-top: 0;
        height: 852px;
    }
</style>