<template>
  <div class="common-table">
    <el-table :data="tableData" border v-loading="config.loading"> <!-- height="90%"-->
      <el-table-column label="序号" width="85" header-align="center" align="center">
        <template slot-scope="scope">
          <span>{{ (config.page - 1) * 20 + scope.$index + 1 }}</span>
        </template>
      </el-table-column>
      <el-table-column show-overflow-tooltip v-for="item in tableLabel" :key="item.prop" :label="item.label" :width="item.width ? item.width : 125" header-align="center" align="center" v-if="item.show">
        <template slot-scope="scope">
          <span>{{ scope.row[item.prop] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="180" header-align="center" align="center">
        <template slot-scope="scope">
         <!-- <el-button size="mini" @click="handleEdit(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>-->
          <el-button v-for="(button,index) in buttonData" :key="index" :size="button.size" :type="button.type" @click="handleButton(button.method,scope.row)" :icon="'el-icon-'+ button.icon"></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
            class="pager"
            layout="prev, pager, next"
            :total="config.total"
            :current-page.sync="config.page"
            @current-change="changePage"
            :page-size="10"
            background>
    </el-pagination>
  </div>
</template>

<script>
export default {
  props: {
    tableData: Array,
    tableLabel: Array,
    config: Object,
    buttonData: Array
  },
  methods: {
    handleEdit(row) {
      this.$emit('edit', row)
    },
    handleDelete(row) {
      this.$emit('del', row)
    },
    changePage(page) {
      // 子组件通过事件发射向父组件传递事件及参数，$emit即为发射事件，第一个参数为向父组件传递的事件名，第二个参数为向父组件传递的参数
      this.$emit('changePage', page)
    },
    handleButton(methods,row) {
      this.$emit(methods, row);
    }
  }
}
</script>

<style lang="scss" scoped>
  .common-table {
    height: calc(100% - 62px);
    background-color: #fff;
    position: relative;
    .pager {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
</style>
