<template>
    <header>
        <div class="l-content">
            <el-button plain icon="el-icon-menu" size="mini" @click="collapseMenu"></el-button>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item :to="current.path" v-if="current">
                    {{ current.label }}
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="r-content">
            <el-dropdown trigger="click" size="mini">
                <span class="el-dropdown-link"><img :src="userImg" class="user"/></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>个人中心</el-dropdown-item>
                    <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </header>
</template>

<script>
    import {mapState} from 'vuex'
    import request from "../http/request";
    import Auth from "../assets/js/Auth";

    export default {
        computed: {
            ...mapState({
                current: state => state.tab.currentMenu
            })
        },
        data() {
            return {
                userImg: require('../assets/images/User-default.jpg')
            }
        },
        methods: {
            collapseMenu() {
                this.$store.commit('collapseMenu')
            },
            logOut() {
                //this.$router.push('/');
                request.user.logout().then((data) => {
                    if (data.data.code === 0) {
                        //debugger
                        this.$store.commit('clearMenu')
                        Auth.deleteAuth();
                        // this.refresh();
                        // this.local.refresh();
                        this.$router.push('/');
                    }else {
                        this.$alert(data.data.msg, "提示信息");
                    }
                }).catch((err)=>{
                    this.$alert(err,"错误信息");
                });
            },
           /* logOut() {
                this.$store.commit('clearToken')
                this.$store.commit('clearMenu')
                location.reload()
            }*/
        }
    }
</script>

<style lang="scss" scoped>
    header {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .l-content {
        display: flex;
        align-items: center;
        .el-button {
            margin-right: 20px;
        }
    }
    .r-content {
        .user {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
</style>

<style lang="scss">
    .el-breadcrumb__item {
        .el-breadcrumb__inner {
            color: #666666;
            font-weight: normal;
        }
        &:last-child {
            .el-breadcrumb__inner {
                color: #ffffff;
            }
        }
    }
</style>
