<template>
    <div class="nav-course">
        <img class="course" src="../../assets/coursePicture/springboot.png" alt="">
        <span>ssm新版SpringBoot2.3/spring5/mybatis3 <br><br><br>课时: 34 <br><br><br>￥ 68</span>
        <el-button type="text" @click="centerDialogVisible = true">立即购买</el-button>
        <el-dialog
                title="支付方式"
                :visible.sync="centerDialogVisible"
                width="40%"
                center>
            <div class="nav-course-radio">
                <div>
                    <el-radio v-model="radio" label="1" border>微信支付</el-radio>
                    <el-radio v-model="radio" label="2" border>支付宝</el-radio>
                    <el-radio v-model="radio" label="3" border>国际支付宝</el-radio>
                    <el-radio v-model="radio" label="4" border disabled>银联</el-radio>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
<!--                <el-button @click="centerDialogVisible = false">取 消</el-button>-->
                <el-button type="primary" @click="pay">立刻支付</el-button>
                <el-button type="primary" @click="wxQuery">查询微信支付记录</el-button>
                <el-button type="primary" @click="aliQuery">查询支付宝支付记录</el-button>
                <el-button type="primary" @click="aliRefund">支付宝退款</el-button>
                <el-button type="primary" @click="aliRefundQuery">支付宝退款查询</el-button>
                <el-button type="primary" @click="aliClose">关闭未付款的订单</el-button>
                <el-button type="primary" @click="billDownloadUrl">对账单下载列表</el-button>
            </span>
        </el-dialog>
        <el-dialog
                :title="payment"
                width="20%"
                @close="closeCode"
                :visible.sync="qrCodeDialogVisible"
                center>
            <div class="paycode">
                <!-- 放置二维码的容器,需要给一个ref -->
                <div slot="footer" class="dialog-footer">
                    <div id="qrcode" ref="qrcode"></div>
                   <!-- <el-button @click="previewpic = false">取 消</el-button>
                    <el-button type="primary" @click="previewpic = false">确 定</el-button>-->
                </div>

            </div>
        </el-dialog>
        <el-row type="flex" justify="center">
            <el-col :span="12">
                <el-form
                        ref="data"
                        :rules="rules"
                        :model="data"
                        label-width="80px">
                    <el-form-item label="手机号">
                        <el-input @input="phoneChange" v-model="data.phone"></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="6">
                <el-button type="primary" plain  @click="getVerifiyCode('data')">获取验证码</el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import request from "../../http/request";
    import QRCode from 'qrcodejs2'
    export default {
        name: "pay",
        data() {
            let checkPhone = (rule, value, callback) => {
                let reg = /^1[3456789]\d{9}$/;
                if (reg.test(value)) {
                    callback(new Error("请输入正确的手机号码格式"));
                } else {
                    callback();
                }
            };
            return {
                centerDialogVisible: false,
                radio: '',
                //微信支付
                qrCodeDialogVisible: false,
                qrcode: '',
                qr: '',
                payment: '微信扫描支付',
                //支付宝支付
                amount: 1,
                payType: 'aliPay',

                //手机号
                data: {
                    phone: "",
                },

                rules:{
                    phone:[{validator:checkPhone,required:true,trigger:"blur"}]
                }
            };
        },
        methods: {
            pay() {
                if (this.radio === '1') {
                    this.wxPay();
                }else if (this.radio === '2') {
                    this.aliPay();
                }else if(this.radio === '3'){
                    this.globalAliPay();
                }else {
                    this.$message({message:"请选择支付方式", type: "info"});
                }

            },
            aliQuery() {
                this.centerDialogVisible = false
                /*request.pay.aliPayQuery({outTradeNo: "260c6e93c60ae9434668ba30fb60f97c",tradeNo:"2020102822001477960501226155"}).then((data) => {
                    console.log(data);
                }); */
                request.pay.aliPay.aliPayQuery({outTradeNo: "d4cafbffeb644ad9a24b16692e1e776f"}).then((data) => {
                    console.log(data);
                });
            },
            aliRefund() {
                this.centerDialogVisible = false
                request.pay.aliPay.aliPayRefund({outTradeNo: "1102112813-2571",tradeNo:"2020110222001477960501229074",refundAmount:"0.01",refundReason:"不想要了",}).then((data) => {
                    console.log(data);
                });
            },
            aliRefundQuery() {
                this.centerDialogVisible = false
                request.pay.aliPay.aliPayRefundQuery({outTradeNo: "1102112813-2571",tradeNo:"2020110222001477960501229074",outRequestNo:"1102112813-2571"}).then((data) => {
                    console.log(data);
                });
            },
            aliClose() {
                this.centerDialogVisible = false
                request.pay.aliPay.aliPayClose({outTradeNo: "1102114121-5907"}).then((data) => {
                    console.log(data);
                });
            },
            billDownloadUrl() {
                this.centerDialogVisible = false
                /*
                * billDate:
                *           账单时间：日账单格式为yyyy-MM-dd，最早可下载2016年1月1日开始的日账单；月账单格式为yyyy-MM，最早可下载2016年1月开始的月账单。
                *billType:
                *           账单类型，商户通过接口或商户经开放平台授权后其所属服务商通过接口可以获取以下账单类型：trade、signcustomer；trade指商户基于支付宝交易收单的业务账单；
                *           signcustomer是指基于商户支付宝余额收入及支出等资金变动的帐务账单。
                *
                * */
                request.pay.aliPay.aliPayBillDownloadUrl({billDate: "2020-10", billType: "signcustomer"}).then((data) => {
                    console.log(data);
                    console.log(data.data.alipay_data_dataservice_bill_downloadurl_query_response.bill_download_url);
                });
            },
            globalAliPay() {
                this.centerDialogVisible = false
                request.pay.globalAliPay.globalAliPay().then((data) => {
                    console.log(data);
                    // 打开新的页面进行填充html。解决支付宝返回form 再vue中打开问题
                    let newWindow = window.open("#", "_blank");
                    newWindow.document.write(data.data);
                });
            },
            aliPay() {
                this.centerDialogVisible = false
                request.pay.aliPay.aliPay({outTradeNo: this.guid(),totalAmount:1,subject:'qlh'}).then((data) => {
                    console.log(data);
                    // 打开新的页面进行填充html。解决支付宝返回form 再vue中打开问题
                    let newWindow = window.open("#", "_blank");
                    newWindow.document.write(data.data);
                });
            },
            // 展示二维码
            wxPay () {
                this.centerDialogVisible = false
                this.qrCodeDialogVisible = true
                // 二维码内容,一般是由后台返回的跳转链接,这里是写死的一个链接
                request.pay.weChatPay.weChatPay("",
                    {
                        'body':'购买苹果10个',
                        'outTradeNo':'dasdfasfas1252434',
                        'feeType':'CNY',
                        'totalFee':1000,
                        'tradeType':'NATIVE',
                        'notifyUrl':'http://localhost:8090/wxPayOfficial/wxNotify',
                        'productId':'33333',
                        'spbillCreateIp':'127.0.0.1'
                    }).then((data) => {
                    // this.qrcode = data.data;
                    console.log(data);
                    this.qrcode = data.data.codeUrl;
                    // 使用$nextTick确保数据渲染
                    this.$nextTick(() => {
                        this.crateQrcode()
                    })
                });
/*                this.qrcode = 'weixin://wxpay/bizpayurl?pr=hkYPNxu';
                this.$nextTick(() => {
                    this.crateQrcode()
                })*/
            },
            wxQuery() {
                this.centerDialogVisible = false
                request.pay.weChatPay.weChatPayQuery({outTradeNo: "dasdfasfas1252434"}).then((data) => {
                    console.log(data);
                });
            },
            // 生成二维码
            crateQrcode () {
                this.qr = new QRCode('qrcode', {
                    width: 180,
                    height: 180, // 高度
                    text: this.qrcode // 二维码内容
                    // render: 'canvas' // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
                    // background: '#f0f'
                    // foreground: '#ff0'
                })
                // console.log(this.qrcode)
            },
            // 关闭弹框,清除已经生成的二维码
            closeCode() {
                this.$refs.qrcode.innerHTML = ''
            },
            guid() {
                return 'xxxxxxxxxxxxxx4xxxxyxxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            },
            //手机验证码
            phoneChange(){
                this.data.phone=this.data.phone.replace(/[^\d]/g,"");
                if(this.data.phone.length>11){
                    this.data.phone=this.data.phone.substr(0,11);
                }
                //如果依赖element的表单校验，就到这里就OK了，如果单单用了el-input不用element的表单校验，那继续往下
                let reg=/^1[3456789]\d{9}$/;
                if(this.data.phone.length>=11 && !reg.test(this.data.phone)){
                    alert("请输入正确的手机号码格式")
                }
            },
            getVerifiyCode() {
                console.log(this.data.phone);
                this.$refs.data.validate((valid) => {
                    if(valid){
                        //获取验证码接口
                        request.code.getVerificationCode(this.data.phone).then((res) => {
                            console.log(res);
                        });
                    }
                });
            }
        },
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>
.nav-course{
    display: flex;
}
.course{
    width: 300px;
}
.nav-course-radio{
    display: flex;
    justify-content: space-around;
}
.paycode{
    display: flex;
    justify-content: center;
}
</style>
