<template>
    <div class="login-container">
        <el-form :model="ruleForm2" :rules="rules2"
                 status-icon
                 ref="ruleForm2"
                 label-position="left"
                 label-width="0px"
                 class="demo-ruleForm login-page">
            <h3 class="title">系统登录</h3>
            <el-form-item prop="username">
                <el-input type="text"
                          v-model="ruleForm2.username"
                          auto-complete="off"
                          placeholder="用户名"
                ></el-input>
            </el-form-item>
            <el-form-item prop="password">
                <el-input type="password"
                          v-model="ruleForm2.password"
                          auto-complete="off"
                          placeholder="密码"
                ></el-input>
            </el-form-item>
            <el-form-item prop="captcha">
                <el-row :gutter="20">
                    <el-col :span="14">
                        <el-input
                                v-model="ruleForm2.captcha"
                                placeholder="验证码"
                                @keyup.enter.native="handleSubmit('ruleForm2')">
                        </el-input>
                    </el-col>
                    <el-col :span="10" class="login-captcha">
                        <img :src="captchaPath" @click="getCaptcha()" alt="">
                    </el-col>
                </el-row>
            </el-form-item>
            <el-checkbox
                    v-model="checked"
                    class="rememberme"
            >记住密码
            </el-checkbox>
            <el-form-item style="width:100%;">
                <el-button type="primary" style="width:100%;" @click="handleSubmit('ruleForm2')" :loading="logining">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    import request from '../../http/request';
    import Auth from "../../assets/js/Auth";
    import util from "../../assets/js/util";
    import api from "../../http/api";
    export default {
        name: "Login",
        data() {
            return {
                logining: false,
                captchaPath: '',
                ruleForm2: {
                    username: '',
                    password: '',
                    uuid: '',
                    captcha: ''
                },
                rules2: {
                    username: [{required: true, message: 'please enter your account', trigger: 'blur'}],
                    password: [{required: true, message: 'enter your password', trigger: 'blur'}],
                    captcha: [{required: true, message: 'Verification code is not empty', trigger: 'blur'}]
                },
                checked: false
            };
        },
        methods: {
            handleSubmit(event) {
                this.$refs.ruleForm2.validate((valid) => {
                    if (valid) {
                        this.logining = true;
                        console.log(this.ruleForm2);
                        request.user.login(this.ruleForm2).then((data) => {
                            // console.log(data)
                            if (data.data.code === 0) {
                                //登录成功
                                let userAuth = data.data.data;
                                // console.log(userAuth);
                                //存用户权限信息
                                Auth.setAuth(userAuth);

                                // this.$router.push('/index');
                                // console.log(Auth.getMenus());
                                //先清除 房子重复加入
                                this.$store.commit('clearMenu')
                                //再加入
                                this.$store.commit('setMenu',  Auth.getMenus())
                                //添加动态路由
                                this.$store.commit('addMenu', this.$router)
                                // console.log(this.$router);
                                //跳转到首页
                                this.$router.push({ name: 'home' })
                            } else {
                                this.logining = false;
                                this.getCaptcha()
                                this.$message.error(data.data.msg)
                            }
                        });
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                })
            },
            isLogin() {
                if(localStorage.getItem('Authorization')) {
                    this.$router.push({name: 'home'});
                }
            },
            // 获取验证码
            getCaptcha() {
                /**
                 * 后台图片返回数据乱码  解决办法：直接在img标签中的src = 访问后台图片的url
                 * 如：
                 *      this.captchaPath = api.User.getCaptcha + '?uuid=' + this.ruleForm2.uuid;
                 * @type {string}
                 */
                this.ruleForm2.uuid = util.getUUID()
                this.captchaPath = api.User.getCaptcha + '?uuid=' + this.ruleForm2.uuid;
            }
        },
        created() {
            this.isLogin();
            this.getCaptcha();
        }
    }
</script>

<style scoped>
    .title {
        text-align: center;
    }
    .login-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .login-page {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 180px auto;
        width: 350px;
        padding: 35px 35px 15px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
    }

    label.el-checkbox.rememberme {
        margin: 0px 0px 15px;
        text-align: left;
    }
</style>
